<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Example</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/main.css') }}" rel="stylesheet">
    <style>

    </style>
    <script>

    </script>
</head>
<body class="bg-black">
    <div class="chat-body card">
        <div class="card-body p-5">
            <h4 class="card-title text-center text-xl font-medium"> Chat Your Data </h4>
            <p class="card-text text-center text-sm" id="header"> Ask a question </p>
            <hr class="border-gray-500 mb-5" style="margin-top: 20px;">
            <div id="messages" class="overflow-auto" style="max-height: 500px;">
            </div>
            <form action="" class="form-inline mt-5" id="chat-form" onsubmit="sendMessage(event)">
                <input type="text" class="form-control" placeholder="Write your question" id="messageText">
                <button id="send" type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
   <script src="{{ url_for('static', path='/js/main.js') }}"></script>
</body>
</html>